{% extends "common/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'intercom/css/'|add:css %}">
{% endblock %}

{% block content %}
    <main>
      <noscript>
        <p class="error">Enable JavaScript to use this service.</p>
      </noscript>
      <input type="hidden" id="stun-port" name="stun-port" value="{{ stun_port }}">
      <audio id="audio"></audio>
      <!--<canvas id="canvas"></canvas>-->
      <!--or <video id="video" autoplay playsinline></video>-->
      <article id="control-panel">
        <h1 id="title">{{ title }}</h1>
        <label id="client-status"></label>
        <h2 id="call-status"></h2>
        <button id="button"></button>
        <label id="duration"></label>
        <label id="data-in"></label>
        <label id="data-out"></label>
      </article>
      <script defer src="{% static 'intercom/js/'|add:adapter %}"></script>
      <script defer src="{% static 'intercom/js/'|add:client %}"></script>
    </main>
{% endblock %}
